
@import "tailwindcss";
@plugin "daisyui";
/* styles/globals.css */



@font-face {
  font-family: 'Shabnam FD';
  src: url('/fonts/Shabnam-FD.woff2') format('woff2'),
       url('/fonts/Shabnam-FD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Important for performance */
}




