
@import "tailwindcss";
@plugin "daisyui";
/* styles/globals.css */

@font-face {
  font-family: 'Shabnam FD';
  src: url('/fonts/Shabnam-FD.woff2') format('woff2'),
       url('/fonts/Shabnam-FD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

/* Repeat for other weights (e.g., Bold, Medium) if you have them */
/*
@font-face {
  font-family: 'Shabnam FD';
  src: url('/fonts/Shabnam-FD-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*/
/* --- 2. Custom Background Image Class --- */

/* app/globals.css */



.bg {
  position: absolute;
  object-fit: contain;
  
}

.bg1{
  
  top: 44.39px ;
  left:-320px ;
  
  right: 0px;
  background-size: cover;
  bottom: 0px;
  

  
}

.bg2{
  
  top:578.99px ;
  left: -1px;
 
  right: 240.70px;
  
bottom: 578.99px;
 background-size: cover;
 
}

.bg3{
  
  top:811.52px ;
  left:0px ;
 right: 505.81px;
  bottom: 0px;
  
   background-size: cover;

}
.bg4{
  
  top:1039.7px ;
  left:0px ;
  right: 733.99px;
  bottom: 1px;
  
  background-size: cover;
 
}

